@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');

.App {
  text-align: center;
}

h1 {
  text-align: center;
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-size: 8rem
}

.LetterButton {
  height: 5rem;
  width: 5rem;
  font-size: 3rem;
  padding: 0;
  color: black !important;
  margin: 2px
}

.FormContainer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.Form {
  width: 38rem;
  border-radius: 10px 0 0 10px !important;
  text-align: center;
}

.form-control {
  font-size: 3rem;
  letter-spacing: 3.4rem;
  padding-left: 7.5rem;
}

.SubmitButton {
  width: 26rem;
  margin-top: 5px;
  height: 5rem;
}